{% load static %}
{% load ratings %}

<html>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
	<body>
		<b><a href="{% url 'review-create' %}">Write new review</a></b>
		<h1>Reviews</h1>
		<ul>
			{% for review in object_list %}
			    <li>
			    {{ review.reviewer }}: "{{ review.text }}"" about {{ review.name }} stars: {% ratings review %}</li>
			{% empty %}
			    <li>No reviews yet.</li>
			{% endfor %}
		</ul>
	</body>
</html>